body {
    background-color: #374c57;
}

* {
    color: #303030;
}

a {
    color: #2A2D85;
    text-decoration: none;
}

a:hover {
    color: #d92517;
    text-decoration: none;
}

.campoTextoActivo {
    color: #000000;
}

.campoTextoInactivo {
    color: #d7d7d7;
}

input, select, textarea {
    border: 1px solid #d7d7d7;
}

#full {
    background-color: #ffffff;
}

.titulo {
    color: #2A2D85;
}